body{
  padding: 0;
  margin: 0;

}
form{
  max-width: 50em;
  margin: 4em auto;
  position: relative;
  background: cornsilk;
  padding: 3em 3em;
  overflow: hidden;
}
form h1{
  font-family: "Times New Roman";
  color: darkred;
}
form input[type=text]::placeholder{
  font-family: "Calibri";
  font-size: medium;
  color:#666;
}
form .data{
  margin-top: 1em;
}
form .data li{
  background: #fff;
  border-left: 4px solid darkred;
  padding: 1em;
  margin: 1em auto;
  color: #666;
  font-family: "Times New Roman";
}
form .data li i{
  float: right;
  color: #888;
  cursor: pointer;
}
form .input-group-text{
  background: black;
  width: 45px;
  height: 5px;
  padding: 23px;
  color: #fff;
  position: center;
  right: 13px;
  cursor: pointer;
}
form .input-group-text i{
  font-size: 2em;
}
form .form-control{
  height: 45px;
  font-family: "Times New Roman";
}
form .form-control:focus {
  box-shadow: 0;
}
